<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Welcome to Unified Local Government Payrolling System</h2>
    <h3>Login</h3>
    <form action="POST">
        User:  <input type="text" name="test"> <br>
        password: <input type="password" name="password"> <br>
        submit<input type="submit">
    </form>
</body>
</html>